Option 1: MSSQL on local machine instance the only pitfall is that you have to mess with the security setting to make the http requests go out.


The below script changes the security:
--sp_configure 'show advanced options', 1;  
--GO  
--RECONFIGURE;  
--GO  
--sp_configure 'Ole Automation Procedures', 1;  
--GO  
--RECONFIGURE;  
--GO  



IF Object_Id('dbo.JSONPathsAndValues') IS NOT NULL DROP FUNCTION dbo.JSONPathsAndValues;
  GO
  CREATE FUNCTION dbo.JSONPathsAndValues
    /**
    Summary: >
     This function takes a JSON string and returns
    a table containing the JSON paths to the data,
    and the data itself. The JSON paths are compatible with  OPENjson, 
    JSON_Value and JSON_Modify. 

    Examples:
       - Select * from dbo.JSONPathsAndValues(N'{"person":{"info":{"name":"John", "name":"Jack"}}}')
       - Select * from MyTableWithJson cross apply dbo.JSONPathsAndValues(MyJSONColumn)
    Returns: >
    A table listing the paths to all the values in the JSON document 
    with their type and their order and nesting depth in the document
   **/
    (@JSONData NVARCHAR(MAX))
  RETURNS @TheHierarchyMetadata TABLE
    (
    -- columns returned by the function
    element_id INT NOT NULL,
    Depth INT NOT NULL,
    Thepath NVARCHAR(2000),
    ValueType VARCHAR(10) NOT NULL,
    TheValue NVARCHAR(MAX) NOT NULL
    )
  AS
    -- body of the function
    BEGIN
      DECLARE @ii INT = 1, @rowcount INT = -1;
      DECLARE @null INT = 0, @string INT = 1, @int INT = 2, --
        @boolean INT = 3, @array INT = 4, @object INT = 5;
      DECLARE @TheHierarchy TABLE
        (
        element_id INT IDENTITY(1, 1) PRIMARY KEY,
        Depth INT NOT NULL, /* effectively, the recursion level. =the depth of nesting*/
        Thepath NVARCHAR(2000) NOT NULL,
        TheName NVARCHAR(2000) NOT NULL,
        TheValue NVARCHAR(MAX) NOT NULL,
        ValueType VARCHAR(10) NOT NULL
        );
      INSERT INTO @TheHierarchy
        (Depth, Thepath, TheName, TheValue, ValueType)
        SELECT @ii, '$', '$', @JSONData, 'object';
      WHILE @rowcount <> 0
        BEGIN
          SELECT @ii = @ii + 1;
          INSERT INTO @TheHierarchy
            (Depth, Thepath, TheName, TheValue, ValueType)
            SELECT @ii,
              CASE WHEN [Key] NOT LIKE '%[^0-9]%' THEN Thepath + '[' + [Key] + ']' --nothing but numbers 
                WHEN [Key] LIKE '%[$ ]%' THEN Thepath + '."' + [Key] + '"' --got a space in it
                ELSE Thepath + '.' + [Key] END, [Key], Coalesce(Value,''),
              CASE Type WHEN @string THEN 'string'
                WHEN @null THEN 'null'
                WHEN @int THEN 'int'
                WHEN @boolean THEN 'boolean'
                WHEN @int THEN 'int'
                WHEN @array THEN 'array' ELSE 'object' END
            FROM @TheHierarchy AS m
              CROSS APPLY OpenJson(TheValue) AS o
            WHERE ValueType IN
          ('array', 'object') AND Depth = @ii - 1;
          SELECT @rowcount = @@RowCount;
        END;
      INSERT INTO @TheHierarchyMetadata
        SELECT element_id, Depth, Thepath, ValueType, TheValue 
        FROM @TheHierarchy
        WHERE ValueType NOT IN
      ('array', 'object');
      RETURN;
    END;
  GO


example json test function:
  
    DECLARE @JSONData NVARCHAR(4000)
  
  
  SELECT @JSONData=BulkColumn FROM OPENROWSET (BULK 'C:\Users\Travis Padilla\Downloads\package_search.json', SINGLE_CLOB) import

  SELECT replace(@JSONData,'"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search&host=&protocol=", "success": true, ','')

  
  SELECT * from dbo.JSONPathsAndValues(@JSONData) 

  DECLARE @TheData  table (
    -- columns returned by the function
    element_id INT NOT NULL,
    Depth INT NOT NULL,
    Thepath NVARCHAR(2000),
    ValueType VARCHAR(10) NOT NULL,
    TheValue NVARCHAR(MAX) NOT NULL
    )
   INSERT INTO @TheData SELECT * FROM dbo.JSONPathsAndValues(@JSONData)
   SELECT 
   Max(Convert(CHAR(2),CASE WHEN Thepath LIKE '%.countrycode' THEN Thevalue ELSE '' END)) AS countycode,
   Max(Convert(NVARCHAR(200),CASE WHEN Thepath LIKE '%.name' THEN Thevalue ELSE '' END)) AS name,
   Max(Convert(NUMERIC(38, 15),CASE WHEN Thepath LIKE '%.lat' THEN Thevalue ELSE '-90' END)) AS latitude,
   Max(Convert(NUMERIC(38, 15),CASE WHEN Thepath LIKE '%.lng' THEN Thevalue ELSE '-180' END)) AS longitude,
   Max(Convert(BigInt,CASE WHEN Thepath LIKE '%.population' THEN Thevalue ELSE '-1' END)) AS population,
   Max(Convert(VARCHAR(200),CASE WHEN Thepath LIKE '%.wikipedia' THEN Thevalue ELSE '' END)) AS wikipediaURL,
   Max(Convert (INT,CASE WHEN Thepath LIKE '%.geonameId' THEN Thevalue ELSE '0' END)) AS ID
   FROM @TheData GROUP BY Left(ThePath,CharIndex(']',ThePath+']'))








  IF Object_Id('dbo.DifferenceBetweenJSONstrings') IS NOT NULL
     DROP function dbo.DifferenceBetweenJSONstrings
  GO
  CREATE FUNCTION dbo.DifferenceBetweenJSONstrings
    (
    @Original nvarchar (max),-- the original JSON string
    @New nvarchar (max)      -- the New JSON string
    )
  RETURNS TABLE
   --WITH ENCRYPTION|SCHEMABINDING, ..
  AS
  RETURN
    (
    SELECT Coalesce(old.thePath, new.thepath) AS JSONpath,
      Coalesce(old.valuetype, '')
      + CASE WHEN old.valuetype + new.valuetype IS NOT NULL THEN ' \ ' ELSE '' END
      + Coalesce(new.valuetype, '') AS ValueType,
      CASE WHEN old.valuetype + new.valuetype IS NOT NULL THEN 'value type changed'
        WHEN old.thePath IS NULL THEN 'added or key changed'
        WHEN new.thePath IS NULL THEN 'missing' ELSE 'dunno' END AS TheDifference
      FROM dbo.JSONPathsAndValues(@New) AS new
        FULL OUTER JOIN dbo.JSONPathsAndValues(@original) AS old
          ON old.ThePath = new.ThePath --AND old.Valuetype=new.Valuetype
      WHERE old.thepath IS NULL OR new.thepath IS NULL OR old.ValueType <> new.ValueType
       
    );
  Go



  IF NOT EXISTS (SELECT * FROM sys.configurations WHERE name ='Ole Automation Procedures' AND value=1)
  	BEGIN
     EXECUTE sp_configure 'Ole Automation Procedures', 1;
     RECONFIGURE;  
     end 
  SET ANSI_NULLS ON;
  SET QUOTED_IDENTIFIER ON;
  GO
  IF Object_Id('dbo.GetWebService','P') IS NOT NULL 
  	drop procedure dbo.GetWebService
  GO
  CREATE PROCEDURE dbo.GetWebService
    @TheURL VARCHAR(255),-- the url of the web service
    @TheResponse NVARCHAR(4000) OUTPUT --the resulting JSON
  AS
    BEGIN
      DECLARE @obj INT, @hr INT, @status INT, @message VARCHAR(255);

      EXEC @hr = sp_OACreate 'MSXML2.ServerXMLHttp', @obj OUT;
      SET @message = 'sp_OAMethod Open failed';
      IF @hr = 0 EXEC @hr = sp_OAMethod @obj, 'open', NULL, 'GET', @TheURL, false;
      SET @message = 'sp_OAMethod setRequestHeader failed';
      IF @hr = 0
        EXEC @hr = sp_OAMethod @obj, 'setRequestHeader', NULL, 'Content-Type',
          'application/x-www-form-urlencoded';
      SET @message = 'sp_OAMethod Send failed';
      --IF @hr = 0 EXEC @hr = sp_OAMethod @obj, send, NULL, '';
      --SET @message = 'sp_OAMethod read status failed';
      IF @hr = 0 EXEC @hr = sp_OAGetProperty @obj, 'status', @status OUT;
      --IF @status <> 200 BEGIN
      --                    SELECT @message = 'sp_OAMethod http status ' + Str(@status), @hr = -1;
      --  END;
      --SET @message = 'sp_OAMethod read response failed';
      IF @hr = 0
        BEGIN
          EXEC @hr = sp_OAGetProperty @obj, 'responseText', @Theresponse OUT;
          END;
      EXEC sp_OADestroy @obj;
      IF @hr <> 0 RAISERROR(@message, 16, 1);
      END;
  GO



here's the final SQL Script:


BEGIN TRY DROP TABLE #SampleTable END TRY BEGIN CATCH END CATCH
BEGIN TRY DROP TABLE #SampleTable2 END TRY BEGIN CATCH END CATCH
BEGIN TRY DROP TABLE #results END TRY BEGIN CATCH END CATCH
BEGIN TRY DROP TABLE #TheData END TRY BEGIN CATCH END CATCH
BEGIN TRY DROP TABLE #results2 END TRY BEGIN CATCH END CATCH
BEGIN TRY DROP TABLE #results3 END TRY BEGIN CATCH END CATCH
BEGIN TRY DROP TABLE #results4 END TRY BEGIN CATCH END CATCH

	DECLARE @P_NPI as INT 
	DECLARE @NPI as INT 
	DECLARE @API as VARCHAR(4000) 
	DECLARE @URL as VARCHAR(4000) 
	DECLARE @response NVARCHAR(4000)
	DECLARE @response2 NVARCHAR(4000)
	DECLARE @response3 NVARCHAR(4000)
	DECLARE @response4 NVARCHAR(4000)

	DECLARE @googleAPIaddress as VARCHAR(4000)
	DECLARE @googleAPIphone as VARCHAR(4000)

	DECLARE	@Counter INT 
			,@MaxId INT
			,@ReadStatus NVARCHAR(4000)



	CREATE TABLE #results
						(
						URL NVARCHAR(4000)
						,NPI NVARCHAR(4000)
						)

	CREATE TABLE #results2
						(
						RESULTS NVARCHAR(4000)
						,URL NVARCHAR(4000)
						,NPI NVARCHAR(4000)
						)

	CREATE TABLE #results4
						(
						RESULT1  NVARCHAR(4000)
						,RESULT2  NVARCHAR(4000)

						)						




select 
x.npi 
,x.[Rcount]

into #SampleTable
from (
		select 
		ROW_NUMBER() OVER (ORDER BY cast(p.Providers_NPI as nvarchar(255))) [Rcount]
		
		from () p
		
		) x

		

SELECT @Counter = 1 , @MaxId = max(s.[Rcount]) 
FROM #SampleTable S
group by
s.npi 


WHILE(@Counter IS NOT NULL
      AND @Counter <= @MaxId)

BEGIN

   SELECT 
			@P_NPI = s.NPI
   FROM #SampleTable  s WHERE s.[Rcount] = @Counter

SET @Counter  = @Counter  + 1   

			SET @API = 'https://npiregistry.cms.hhs.gov/api/?version=2.1&pretty=true&number='
			SET @NPI = @P_NPI --+ @Counter 
			SET @URL = @API + cast(@NPI as varchar(150))

			EXECUTE dbo.GetWebService @URL,@response OUTPUT;


INSERT into #results2 						(
						RESULTS
						,URL
						,NPI 

						)
  VALUES (@response,@URL,@NPI)
END

	DECLARE @URL as VARCHAR(4000) 
	DECLARE @response as VARCHAR(4000) 

			SET @URL = 'https://catalog.data.gov/api/3/action/package_search?q=business&rows=1.json'


			EXECUTE dbo.GetWebService @URL,@response OUTPUT
			select * from OPENJSON(@response,'$')


SELECT 

		location.created_epoch			
		,location.enumeration_type		
		,location.last_updated_epoch		
		,location.number					
		,location.credential  			
		,location.enumeration_date 		
		,location.first_name  			
		,location.gender  				
		,location.last_name  			
		,location.last_updated  			
		,location.middle_name  			
		,location.name  					
		,location.name_prefix  			
		,location.sole_proprietor  		
		,location.status  
		,location.L_address_1  			
		,location.L_address_2  			
		,location.L_address_purpose  	
		,location.L_address_type  		
		,location.L_city  				
		,location.L_country_code  		
		,location.L_country_name  		
		,replace(location.L_fax_number,'-','')  	L_fax_number		
		,location.L_postal_code  		
		,location.L_state  				
		,replace(location.L_telephone_number,'-','')  	L_telephone_number
		,location.M_address_1  			
		,location.M_address_2  			
		,location.M_address_purpose  	
		,location.M_address_type  		
		,location.M_city  				
		,location.M_country_code  		
		,location.M_country_name  		
		,replace(location.M_fax_number,'-','')		M_fax_number				
		,location.M_postal_code  		
		,location.M_state  				
		,replace(location.M_telephone_number,'-','')	M_telephone_number
		,location.p_address_1  		
		,location.p_address_2  		
		,location.p_address_type  	
		,location.p_city  			
		,location.p_country_code  	
		,location.p_country_name  	
		,location.p_postal_code  	
		,location.p_state  			
		,location.p_telephone_number 
		,location.p_update_date  	
		,location.code  					
		,location.[desc]  				
		,location.license  				
		,location.[primary]  			
		,location.state2  		
		,cast('' as nvarchar(4000)) as GoogleAPIgeoLINK
		,cast('' as nvarchar(4000)) as GoogleAPIphoneLINK
		,cast('' as nvarchar(4000)) as GoogleAPIgeo
		,cast('' as nvarchar(4000)) as GoogleAPIphone
into #results3 
FROM #results2 R
				CROSS APPLY OPENJSON ( RESULTS ,'$.results[0]') 
	WITH (
			created_epoch					nVARCHAR(4000) '$.created_epoch'
			,enumeration_type				nVARCHAR(4000) '$.enumeration_type'
			,last_updated_epoch				nVARCHAR(4000) '$.last_updated_epoch'
			,number							nVARCHAR(4000) '$.number'
			,credential  					nVARCHAR(4000) '$.basic.credential'
			,enumeration_date 				nVARCHAR(4000) '$.basic.enumeration_date'
			,first_name  					nVARCHAR(4000) '$.basic.first_name'
			,gender  						nVARCHAR(4000) '$.basic.gender'
			,last_name  					nVARCHAR(4000) '$.basic.last_name'
			,last_updated  					nVARCHAR(4000) '$.basic.last_updated'
			,middle_name  					nVARCHAR(4000) '$.basic.middle_name'
			,name  							nVARCHAR(4000) '$.basic.name'
			,name_prefix  					nVARCHAR(4000) '$.basic.name_prefix'
			,sole_proprietor  				nVARCHAR(4000) '$.basic.sole_proprietor'
			,status  						nVARCHAR(4000) '$.basic.status'
			,L_address_1  					nVARCHAR(4000) '$.addresses[0].address_1'
			,L_address_2  					nVARCHAR(4000) '$.addresses[0].address_2'
			,L_address_purpose  			nVARCHAR(4000) '$.addresses[0].address_purpose'
			,L_address_type  				nVARCHAR(4000) '$.addresses[0].address_type'
			,L_city  						nVARCHAR(4000) '$.addresses[0].city'
			,L_country_code  				nVARCHAR(4000) '$.addresses[0].country_code'
			,L_country_name  				nVARCHAR(4000) '$.addresses[0].country_name'
			,L_fax_number  					nVARCHAR(4000) '$.addresses[0].fax_number'
			,L_postal_code  				nVARCHAR(4000) '$.addresses[0].postal_code'
			,L_state  						nVARCHAR(4000) '$.addresses[0].state'
			,L_telephone_number  			nVARCHAR(4000) '$.addresses[0].telephone_number'
			,M_address_1  					nVARCHAR(4000) '$.addresses[1].address_1'
			,M_address_2  					nVARCHAR(4000) '$.addresses[1].address_2'
			,M_address_purpose  			nVARCHAR(4000) '$.addresses[1].address_purpose'
			,M_address_type  				nVARCHAR(4000) '$.addresses[1].address_type'
			,M_city  						nVARCHAR(4000) '$.addresses[1].city'
			,M_country_code  				nVARCHAR(4000) '$.addresses[1].country_code'
			,M_country_name  				nVARCHAR(4000) '$.addresses[1].country_name'
			,M_fax_number  					nVARCHAR(4000) '$.addresses[1].fax_number'
			,M_postal_code  				nVARCHAR(4000) '$.addresses[1].postal_code'
			,M_state  						nVARCHAR(4000) '$.addresses[1].state'
			,M_telephone_number  			nVARCHAR(4000) '$.addresses[1].telephone_number'
			,p_address_1  					nVARCHAR(4000) '$.results[0].practiceLocations.address_1'
			,p_address_2  					nVARCHAR(4000) '$.results[0].practiceLocations.address_2'
			,p_address_type  			nVARCHAR(4000) '$.results[0].practiceLocations.address_type'
			,p_city  			nVARCHAR(4000) '$.results[0].practiceLocations.city'
			,p_country_code  			nVARCHAR(4000) '$.results[0].practiceLocations.country_code'
			,p_country_name  			nVARCHAR(4000) '$.results[0].practiceLocations.country_name'
			,p_postal_code  			nVARCHAR(4000) '$.results[0].practiceLocations.postal_code'
			,p_state  			nVARCHAR(4000) '$.results[0].practiceLocations.state'
			,p_telephone_number  			nVARCHAR(4000) '$.results[0].practiceLocations.telephone_number'
			,p_update_date  			nVARCHAR(4000) '$.results[0].practiceLocations.update_date'
			,code  							nVARCHAR(4000) '$.taxonomies[0].code'
			,[desc]  						nVARCHAR(4000) '$.taxonomies[0].desc'
			,license  						nVARCHAR(4000) '$.taxonomies[0].license'
			,[primary]  					nVARCHAR(4000) '$.taxonomies[0].primary'
			,state2  						nVARCHAR(4000) '$.taxonomies[0].state'
		)  
     AS location


select 
x.npi 
,x.[Rcount]
,X.APIgeo
,X.APIphone
into #SampleTable2
from (
SELECT 
		
		'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=' + r.L_address_1 			
		 + r.L_address_2 				
		 + r.L_city						
		 + r.L_state + '&inputtype=textquery&fields=name,business_status,formatted_address,geometry/location,type&key=AIzaSyCcXq1yMVYcOctZhMoepTm8kXrBNTHVIZc' as APIgeo
		, 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%2B1' + replace(r.L_telephone_number,'-','') 
		+ '&inputtype=phonenumber&fields=name,business_status,formatted_address,geometry/location,type&key=AIzaSyCcXq1yMVYcOctZhMoepTm8kXrBNTHVIZc' as APIphone 
		,r.Number as NPI
		,ROW_NUMBER() OVER (ORDER BY cast(R.Number as nvarchar(255))) [Rcount]

FROM #results3 R
		
		) x


SELECT @Counter = 1 , @MaxId = max(s.[Rcount]) 
FROM #SampleTable2 S
group by
s.npi 


	 WHILE(@Counter IS NOT NULL
      AND @Counter <= @MaxId)

BEGIN

SELECT 
		@googleAPIaddress = APIgeo
		,@googleAPIphone = APIphone
		,@NPI =  NPI

FROM #SampleTable2 S
WHERE s.[Rcount] = @Counter

SET @Counter  = @Counter  + 1   

			EXECUTE dbo.GetWebService @googleAPIaddress,@response3 OUTPUT;
			EXECUTE dbo.GetWebService @googleAPIphone,@response4 OUTPUT;


			update  #results3  
			set GoogleAPIgeo = @response3
			, GoogleAPIphone = @response4
			,GoogleAPIgeoLINK = @googleAPIaddress
			,GoogleAPIphoneLINK = @googleAPIphone
			where NUMBER = @NPI
END
		
select 
		R1.RESULTS
		,R1.URL
		,R1.NPI
		,R2.number					
		,R2.credential  			
		,R2.gender  	
		,R2.name_prefix 
		,R2.first_name  	
		,R2.middle_name 
		,R2.last_name  			
		,R2.name  							
		,R2.status  
		,R2.L_address_1  			as pStreet1
		,R2.L_address_2  			as pStreet2
		,R2.L_city  				as pCity
		,R2.L_state  		 as pSt		
		,left(R2.L_postal_code,5) as pZip		
		,R2.L_country_code  		as pCountry
		,R2.L_telephone_number   as pPhone	
		,R2.L_fax_number  			as pFax
		,R2.M_address_1  			as mStreet1
		,R2.M_address_2  			as mStreet2
		,R2.M_city  				as mCity
		,R2.M_state  				as mSt
		,left(R2.M_postal_code,5)  as mZip		
		,R2.M_country_code  		as mCountry
		,R2.M_telephone_number  	as mPhone
		,R2.M_fax_number  			as mFax
			,R2.p_address_1  					
			,R2.p_address_2  					
			,R2.p_address_type  	
			,R2.p_city  			
			,R2.p_country_code  	
			,R2.p_country_name  	
			,R2.p_postal_code  		
			,R2.p_state  			
			,R2.p_telephone_number  
			,R2.p_update_date  		
		,R2.code  					
		,R2.[desc]  				
		,R2.license  				
		,R2.[primary]  			
		,R2.state2  	
		,R2.GoogleAPIphoneLINK as APIphoLINK
		,R2.GoogleAPIphone as APIpho
		,ISNULL(PHO.business_status,'NoData') as phoBizStatus
		,ISNULL(PHO.formatted_address,'NoData')   as phoBizAddress
		,ISNULL(PHO.name,'NoData')  				as phoBizName
		,ISNULL(PHO.type1,'NoData') 			as phoBizType1
		,ISNULL(PHO.type2,'NoData') 			as phoBizType2
		,ISNULL(PHO.type3,'NoData') 			as phoBizType3
		,ISNULL(PHO.type4,'NoData') 			as phoBizType4
		,ISNULL(PHO.type5,'NoData') 			as phoBizType5
		,ISNULL(PHO.lat,'NoData')  				as pholat
		,ISNULL(PHO.lng,'NoData')  			as pholng
		,R2.GoogleAPIgeoLINK as APIgeoLINK
		,R2.GoogleAPIgeo as APIgeo
		,ISNULL(GEO.business_status,'NoData') as geoBizStatus
		,ISNULL(GEO.formatted_address,'NoData')   as geoBizAddress
		,ISNULL(GEO.name,'NoData')  				as geoBizName
		,ISNULL(GEO.type1,'NoData') 			as geoBizType1
		,ISNULL(GEO.type2,'NoData') 			as geoBizType2
		,ISNULL(GEO.type3,'NoData') 			as geoBizType3
		,ISNULL(GEO.type4,'NoData') 			as geoBizType4
		,ISNULL(GEO.type5,'NoData') 			as geoBizType5
		,ISNULL(GEO.lat,'NoData')  				as geolat
		,ISNULL(GEO.lng,'NoData')  			as geolng			
into simondw.dbo.npiLookup
from #RESULTS2 R1 
LEFT JOIN #results3 R2 ON R1.NPI = R2.number
cross apply openjson(GoogleAPIgeo, '$') 
with(
			business_status  						nVARCHAR(4000) '$.candidates[0].business_status'
			,formatted_address  						nVARCHAR(4000) '$.candidates[0].formatted_address'
			,name  						nVARCHAR(4000) '$.candidates[0].name'
			,type1  						nVARCHAR(4000) '$.candidates[0].types[0]'
			,type2  						nVARCHAR(4000) '$.candidates[0].types[1]'
			,type3  						nVARCHAR(4000) '$.candidates[0].types[2]'
			,type4  						nVARCHAR(4000) '$.candidates[0].types[3]'
			,type5  						nVARCHAR(4000) '$.candidates[0].types[4]'
			,lat  						nVARCHAR(4000) '$.candidates[0].geometry.location.lat'
			,lng  						nVARCHAR(4000) '$.candidates[0].geometry.location.lng'

) as geo
cross apply openjson(GoogleAPIphone)
with(
			business_status  						nVARCHAR(4000) '$.candidates[0].business_status'
			,formatted_address  						nVARCHAR(4000) '$.candidates[0].formatted_address'
			,name  						nVARCHAR(4000) '$.candidates[0].name'
			,type1  						nVARCHAR(4000) '$.candidates[0].types[0]'
			,type2  						nVARCHAR(4000) '$.candidates[0].types[1]'
			,type3  						nVARCHAR(4000) '$.candidates[0].types[2]'
			,type4  						nVARCHAR(4000) '$.candidates[0].types[3]'
			,type5  						nVARCHAR(4000) '$.candidates[0].types[4]'
			,lat  						nVARCHAR(4000) '$.candidates[0].geometry.location.lat'
			,lng  						nVARCHAR(4000) '$.candidates[0].geometry.location.lng'

) as pho

Option 2: using python and a local instance of postgres using a zip code list from hud.gov(see below download link to dump into sql to cross reference in your request url)

this code runs on python 3.9.2

This is the installer
https://www.python.org/ftp/python/3.9.2/python-3.9.2-amd64.exe

I use VSCODE and the jupyter notebook for all my python dev stuff
https://code.visualstudio.com/download

You might need to install jupyter notebook separately so you can try anaconda which downloads everything at once
https://www.anaconda.com/download/#windows

look up 
https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter


ZIP CODE DATA FILE:
https://www.huduser.gov/portal/datasets/usps_crosswalk.html


Select Crosswalk Type:	        ZIP-COUNTY
Select Data Year and Quarter:	2nd Quarter 2021

then download and import into postgres

pip install requests json pandas numpy flatten_json psycopg2

In [ ]:
#dependencies you installed
import requests
import json
import pandas as pd
import numpy as np
from flatten_json import flatten
import psycopg2

In [ ]:

#your connection string

conn = psycopg2.connect("host=localhost dbname=postgres user=*******user password=*******password")
cursor = conn.cursor()

you can use the below script that downloads the files into separate csv files or the script after this that dumps it directly into postgres

In [ ]:

###this queries the zipcodes by the state and zip that you want from the zip code download file above.
cursor.execute('''
select distinct
	zip,
    "name",
    usps_zip_pref_state
from
	public.countyzipcity_csv
where 
	usps_zip_pref_state = 'MI'
    and county != 26163
'''
)
query = [[item[0],item[1],item[2]] for item in cursor.fetchall()]
for i1 in range(0,len(query)):
    zips = str(query[i1][0])
    county = str(query[i1][1])
    state = str(query[i1][2])
    urls = f'https://npiregistry.cms.hhs.gov/api/?number=&enumeration_type=1&taxonomy_description=psyc*&postal_code={zips}&limit=200&skip=&version=2.0'
    r = requests.get(urls)
    results_json = r.json()
    i = 0
    while i < results_json['result_count']:
        record = flatten(results_json['results'][i])
        data = pd.DataFrame.from_dict(record,orient='index').T
        if i == 0:
            df = data
        else:
            df = pd.concat([df,data], axis=0, ignore_index=True)
        i+=1
    df.to_csv('./npidata/psyc_'+str(state)+'_'+str(county) + '_'+ str(zips)+'.csv')

you need a decent amount of ram to run this because the file is massive and it takes awhile... I had to do it in batches of 50k

NPI DOWNLOAD FILE ALL DATA:
https://download.cms.gov/nppes/NPPES_Data_Dissemination_July_2021.zip

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

engine = create_engine('postgresql+psycopg2://****USER:****PASSWORD@localhost:5432/postgres')
chunk_size=50000
batch_no=1
for chunk in pd.read_csv('./alldata/npidata_pfile_20050523-20210711.csv',chunksize=chunk_size,iterator=True):
    chunk.to_sql('npi',engine, if_exists='append')
    batch_no+=1